.app {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.todosList {
  display: block;
}

.todosItem {
  padding-bottom: 16px;
  border-bottom: 1px solid #c2c2c2;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}

.todosItem:not(:last-child) {
  margin-bottom: 16px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 60px;
  height: 60px;
  border: 3px solid #4e4e4e;
  border-radius: 50%;
  border-left-color: transparent;
  animation: loader 1s infinite;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
